.items-cards {
    margin: 10px 0;
    &--list{
        width: 100%;
    }
    &--block{
        width: 50%;
    }
    &-image {
        width: 100px;
        height: 90px;
        margin: 30px 12px;
    }
    &-stock {
        margin: 16px;
    }
}