.Item-view-img-cont{
    display: flex;
}

.items-view {
    width: 70%;
    &-buttons {
        display: inline-block;
        position: relative;
        margin: 30px;
    }

    &-button {
        width: 14px;
        height: 14px;
        position: absolute;
        z-index: 2;
        border-color: transparent;
        background-color: transparent;
    }

    &-icon {
        position: absolute;
        z-index: 0;
    }

    &-stats {
        margin-left: 30px;
    }
}